/* src/index.css */

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #222;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.spacing-sm {
  margin-bottom: 1rem;
}

.spacing-md {
  margin-bottom: 2rem;
}

.spacing-lg {
  margin-bottom: 3rem;
}

/* Updated typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/* Updated colors */
.primary-color {
  color: #b39ddb;
}

.secondary-color {
  color: #ffab91;
}

.background-color {
  background-color: #1e1e1e;
}

.text-color {
  color: #b0bec5;
}
